<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Open DDNS</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="~/assets/bootstrap-logo.svg" alt="" width="30" height="24" class="d-inline-block align-text-top"> Open DDNS
            </a>
        </div>
    </nav>
    <div class="container">
        @RenderBody()
    </div>
    <script src="~/js/bootstrap.bundle.min.js"></script>
</body>
</html>